Think of yourself, currently working as a Business analyst in one of the top sports company. The senior management team has asked you to come up with metrics with which they can gauge which team will win the upcoming La Liga cup (Football tournament).

Data set: [Laliga.csv](https://www.dropbox.com/scl/fi/3gcfvtf6bq4feagzayjim/Laliga.csv?rlkey=p6z7z8vhi8u61dvmj7grmd4b5&dl=0)

The data set contains information on all the teams so far participated in all the past tournaments. It has data about how many goals each team scored, conceded, how many times they came within first 6 positions, how many seasons they have qualified, their best position in the past etc.

**You are required to do the following:**

1.   Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.
2.   Print all the teams which have started playing between 1930-1980.
3.   Print the list of teams which came Top 5 in terms of points.
4.   Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference.
5.   Create a new column with name “Winning Percent” and append it to the data set (if there are any numerical error, replace it with 0%). Print the top 5 teams which has the highest Winning percentage.
6.   Group teams based on their “Best position” and print the sum of their points for all positions.

In [36]:
#import the required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Firstly, a dataframe **match_df** is created by reading the input .csv file:

In [37]:
match_df = pd.read_csv('Laliga.csv')

In [38]:
match_df

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,-,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,-,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,-,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,-,1955-56,1955-56,15
60,61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,2017-18,9

List of columns present in the **match_df** dataframe:

In [39]:
match_df.columns

Index(['Pos', 'Team', 'Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T', 'Debut',
       'Since/LastApp', 'BestPosition'],
      dtype='object')

Data type of each column listed above:

In [40]:
match_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Pos            61 non-null     int64
 1   Team           61 non-null     object
 2   Seasons        61 non-null     int64
 3   Points         61 non-null     object
 4   GamesPlayed    61 non-null     object
 5   GamesWon       61 non-null     object
 6   GamesDrawn     61 non-null     object
 7   GamesLost      61 non-null     object
 8   GoalsFor       61 non-null     object
 9   GoalsAgainst   61 non-null     object
 10  Champion       61 non-null     object
 11  Runner-up      61 non-null     object
 12  Third          61 non-null     object
 13  Fourth         61 non-null     object
 14  Fifth          61 non-null     object
 15  Sixth          61 non-null     object
 16  T              61 non-null     object
 17  Debut          61 non-null     object
 18  Since/LastApp  61 non-null     object
 19  BestPosition   61 non-null     int64
dtypes: int64(3), object(17)
memory usage: 9.7+ KB

**Task 1:** Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data:

In [41]:
match_df.replace('-',np.nan, inplace = True) # replace '-' with NaN
match_df = match_df.fillna(0) # fill NaN with 0

In [42]:
match_df

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

5-point Descriptive summary of the dataframe:

In [43]:
match_df.describe()

             Pos    Seasons  BestPosition
count  61.000000  61.000000     61.000000
mean   31.000000  24.000000      7.081967
std    17.752934  26.827225      5.276663
min     1.000000   1.000000      1.000000
25%    16.000000   4.000000      3.000000
50%    31.000000  12.000000      6.000000
75%    46.000000  38.000000     10.000000
max    61.000000  86.000000     20.000000

**Task 2:** Print all the teams which have started playing between 1930-1980.

In [44]:
# 'Debut' column has all the dates listed

List of unique dates mentioned under the **Debut** column of the dataframe:

In [45]:
match_df['Debut'].unique()

array(['1929', '1931-32', '1934-35', '1939-40', '1932-33', '1941-42',
       '1948-49', '1944-45', '1935-36', '1949-50', '1933-34', '1960-61',
       '1951-52', '1998-99', '1977-78', '1959-60', '2004-05', '1961-62',
       '1940-41', '1930-31', '1963-64', '1974-75', '1943-44', '1987-88',
       '1991-92', '2007-08', '1962-63', '1994-95', '1978-79', '1971-72',
       '1999-00', '2014-15', '1990-91', '1947-48', '1996-97', '1995-96',
       '1945-46', '1953-54', '1979-80', '1950-51', '2016-17', '2009-10',
       '1956-57', '1955-56', '2017-18'], dtype=object)

Extracting the starting years from each date range present:

In [46]:
match_df['Debut'] = match_df['Debut'].astype(str).str[:4] # extracting the first 4 date characters - starting years

In [47]:
match_df['Debut'].unique()

array(['1929', '1931', '1934', '1939', '1932', '1941', '1948', '1944',
       '1935', '1949', '1933', '1960', '1951', '1998', '1977', '1959',
       '2004', '1961', '1940', '1930', '1963', '1974', '1943', '1987',
       '1991', '2007', '1962', '1994', '1978', '1971', '1999', '2014',
       '1990', '1947', '1996', '1995', '1945', '1953', '1979', '1950',
       '2016', '2009', '1956', '1955', '2017'], dtype=object)

converting the extracted years under **Debut** to int type:

In [48]:
match_df['Debut'] = match_df['Debut'].astype(int)
match_df['Debut'].unique()

array([1929, 1931, 1934, 1939, 1932, 1941, 1948, 1944, 1935, 1949, 1933,
       1960, 1951, 1998, 1977, 1959, 2004, 1961, 1940, 1930, 1963, 1974,
       1943, 1987, 1991, 2007, 1962, 1994, 1978, 1971, 1999, 2014, 1990,
       1947, 1996, 1995, 1945, 1953, 1979, 1950, 2016, 2009, 1956, 1955,
       2017])

Filtering for teams that started playing in the period 1930-1980:

In [49]:
teams_debut1930to1980 = match_df[match_df['Debut'].between(1930, 1980)]

In [50]:
teams_debut1930to1980

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931,1987-88,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934,2001-02,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941,2014-15,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939,2012-13,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948,2013-14,4
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944,2015-16,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935,2016-17,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949,2008-09,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933,2000-01,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960,2012-13,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951,2015-16,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941,2016-17,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977,2015-16,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959,2014-15,5
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935,2010-11,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961,2009-10,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940,2007-08,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930,2016-17,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963,2015-16,6
30,31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,0,1974,1998-99,7
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943,1987-88,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977,2005-06,12
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941,1990-91,4
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962,2014-15,5
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978,2008-09,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971,1979-80,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963,1969-70,7
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947,2006-07,7
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945,1950-51,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953,1957-58,14
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979,1980-81,10
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950,1993-94,16
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955,1955-56,15

List of teams that started playing in the period 1930-1980:

In [51]:
teams_debut1930to1980['Team'].unique()

array(['Valencia', 'Sevilla', 'Zaragoza', 'Real Betis',
       'Deportivo La Coruna', 'Celta Vigo', 'Valladolid',
       'Sporting Gijon', 'Osasuna', 'Malaga', 'Oviedo', 'Mallorca',
       'Las Palmas', 'Granada', 'Rayo Vallecano', 'Elche', 'Hercules',
       'Tenerife', 'Murcia', 'Alaves', 'Levante', 'Salamanca', 'Sabadell',
       'Cadiz', 'Castellon', 'Cordoba', 'Recreativo', 'Burgos CF',
       'Pontevedra', 'Gimnastic', 'Alcoyano', 'Jaen', 'AD Almeria',
       'Lleida', 'Condal', 'Atletico Tetuan', 'Cultural Leonesa'],
      dtype=object)

**Task 3:** Print the list of teams which came Top 5 in terms of points.

In [52]:
match_df['Points'].dtype

dtype('O')

Converting the **Points** column type from object (as shown above) to numeric type:

In [53]:
match_df['Points'] = pd.to_numeric(match_df['Points'])

Sorting by **Points** for the top 5 teams:

In [54]:
match_df.sort_values(by = 'Points', ascending = False).head(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

**Task 4:** Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences.

`Goal_diff_count = GoalsFor - GoalsAgainst`

Using the same function, find the team which has maximum and minimum goal difference.

In [55]:
match_df['GoalsFor'].dtype

dtype('O')

In [56]:
match_df['GoalsAgainst'].dtype

dtype('O')

Converting the **GoalsFor** and **GoalsAgainst** columns from object (as shown above) to numeric type:

In [57]:
match_df['GoalsFor'] = pd.to_numeric(match_df['GoalsFor'])
match_df['GoalsAgainst'] = pd.to_numeric(match_df['GoalsAgainst'])

Creating a new column **Goal_diff_count** for returning the goal differences:

In [58]:
match_df['Goal_diff_count'] = match_df['GoalsFor'] - match_df['GoalsAgainst']
match_df['Goal_diff_count']

0     2807
1     2786
2     1225
3      929
4      931
      ...
56     -28
57     -20
58     -34
59     -31
60       0
Name: Goal_diff_count, Length: 61, dtype: int64

5-point descriptive summary of the **Goal_diff_count** column:

In [59]:
match_df['Goal_diff_count'].describe()

count      61.000000
mean        0.114754
std       598.095814
min      -525.000000
25%      -269.000000
50%      -112.000000
75%       -34.000000
max      2807.000000
Name: Goal_diff_count, dtype: float64

Sorting by **Goal_diff_count** to find teams with maximum and minimum goal difference:

In [60]:
sorted_by_goaldiff = match_df.sort_values(by = 'Goal_diff_count', ascending = False)

Team with maximum goal difference:

In [61]:
sorted_by_goaldiff.head(1)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff_count
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,2807

Team with minimum goal difference:

In [62]:
sorted_by_goaldiff.tail(1)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff_count
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,1,2,0,1,5,1929,2011-12,2,-525

**Additional** -  Team with 0 goal difference:

In [63]:
match_df[match_df['Goal_diff_count'] == 0]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff_count
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017,2017-18,9,0

**Task 5:** Create a new column with name “Winning Percent” and append it to the data set (if there are any numerical error, replace it with 0%).

`Percentage of Winning = (GamesWon / GamesPlayed)*100`

Print the top 5 teams which has the highest Winning percentage.

In [64]:
match_df['GamesWon'].dtype

dtype('O')

In [65]:
match_df['GamesPlayed'].dtype

dtype('O')

Converting the **GamesWon** and **GamesPlayed** columns from object (as shown above) to numeric type:

In [66]:
match_df['GamesWon'] = pd.to_numeric(match_df['GamesWon'])
match_df['GamesPlayed'] = pd.to_numeric(match_df['GamesPlayed'])

Creating a new column **Winning Percent** for returning the winning percentage:

In [67]:
match_df['Winning Percent'] = (match_df['GamesWon']/match_df['GamesPlayed'])*100

In [68]:
match_df['Winning Percent']

0     59.630702
1     57.241130
2     47.475134
3     44.557057
4     43.772629
        ...
56    21.052632
57    23.333333
58    23.333333
59    16.666667
60          NaN
Name: Winning Percent, Length: 61, dtype: float64

Replacing NaN values in the **Winning Percent** column with 0 (%):

In [69]:
match_df = match_df.fillna(0)

Descriptive summary of the **Winning Percent** column after replacing all NaN values:

In [71]:
match_df['Winning Percent']

0     59.630702
1     57.241130
2     47.475134
3     44.557057
4     43.772629
        ...
56    21.052632
57    23.333333
58    23.333333
59    16.666667
60     0.000000
Name: Winning Percent, Length: 61, dtype: float64

In [70]:
match_df['Winning Percent'].describe()

count    61.000000
mean     30.850613
std       8.742574
min       0.000000
25%      27.192982
50%      30.281690
75%      33.485401
max      59.630702
Name: Winning Percent, dtype: float64

Top 5 teams with the highest winning percent:

In [72]:
match_df.sort_values(by = 'Winning Percent', ascending = False).head(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff_count,Winning Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,2807,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,2786,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,1225,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931,1987-88,1,929,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,931,43.772629

**Task 6:** Group teams based on their “Best position” and print the sum of their points for all positions.

In [73]:
match_df.groupby('BestPosition')['Points'].sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64